<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-around">
        <span class="text-muted">&copy; YelpCamp 2020</span>

        
        <!-- Footer Area End -->
    </div>
</footer>