<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="row ">
      
          
        <h1 class="text-center">Add Camp</h1>
            <div class="col-md-6 offset-md-3">
                <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3 input-group">
                        <label for="title" class="input-group-text">Title:</label>
                        <input type="text" class="form-control" id="title" name="campground[title]" required>
                        <div class="valid-feedback">
                            Looks Good!!
                        </div>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="location" class="input-group-text">Location:</label>
                        <input type="text" class="form-control" id="location" name="campground[location]" required>
                        <div class="valid-feedback">
                            Looks Good!!
                        </div>
                    </div>
                
                    <div class="mb-3 form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label for="image" class="form-file-label ">
                            <span class="form-file-text custom-file-label">Choose File..</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                    <div class="mb-3 input-group">
                        <span class="input-group-text" id="price-label">Price $:</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="campground[description]"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Campground</button>
                    </div>
                </form>
        <a href="/campgrounds"><button class="btn btn-danger">All Camps</button></a>

             
        </div>
    </div>
</div>